{% load static %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card col-8 mt-5 mb-5" style="color:black">
            <div class="card-body register-card-body">
                <form action="{% url 'compressorAddFileAddModule' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="input-group mb-3">
                      <input type="file" name="file" class="form-control" required>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-user"></span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-8">
                        <div class="icheck-primary">
                          <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                          <label for="agreeTerms">
                           I agree to the <a href="#">terms</a>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <!-- /.col -->
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Compresser</button>
                      </div>
                      <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.form-box -->
          </div><!-- /.card -->
        </div>
        <!-- /.register-box -->
    </div>
</div>
<script type="text/javascript" src="{% static 'js/main.js' %}">
</script>