<div class="col-12 container-extra mb-3">
    <div class="card bg-success">
      <div class="card-header">
        <h3 class="share-title">Les impacts de la pollution</h3>

        <div class="share-tools">

        </div>
        <!-- /.share-tools -->
      </div>
      <!-- /.share-header -->
      <div class="share-body p-2 bg-white" style="color:black;text-overflow: ellipsis;white-space: pre-wrap; overflow-wrap: break-word">


Effets sur la santé

La pollution atmosphérique affecte nos voies respiratoire, digestive et cutanée, induisant des effets respiratoires et cardiovasculaires (baisses de capacité respiratoire, excès de toux et de crises d’asthme, irritations oculaires, hypersécrétion bronchique, dégradation des défenses…)

Les personnes fragiles : femmes enceintes, nourrissons et jeunes enfants, personnes de plus de 65 ans, personnes souffrant de pathologie cardio-vasculaires, insuffisants cardiaques ou respiratoires, personnes asthmatiques… sont particulièrement vulnérables aux effets de la pollution.

Par ailleurs, la pollution atmosphérique est ainsi suspectée d’exacerber les allergies polliniques : les pollens seraient plus agressifs sous l’influence des polluants atmosphériques qui, de plus, fragilisent les voies respiratoires et les rendent plus réceptives aux pollens.
Effets sur les cultures

L’ozone peut provoquer l’apparition de taches ou de nécroses à la surface des feuilles, entraîner une réduction de la croissance des plantes (même sans dommages visibles), et une baisse de la résistance des plantes aux agents infectieux.
La pollution atmosphérique est à l’origine de baisses de rendement allant de 5 à 20% selon les cultures.
Effets sur les bâtis

Les polluants atmosphériques détériorent les matériaux de façades comme la pierre, le ciment et le verre. Le dioxyde de souffre induit des corrosions, la combustion (de carburant, bois, déchets…) encroûte les bâtiments par des poussières… d’autres altérations peuvent intervenir lorsque les polluants sont associés avec le gel, l’humidité ou des micro-organismes (bactéries, champignons, lichens…).
Effets sur les écosystèmes

Sous l’effet de la pluie, les polluants glissent et contaminent les sols et les cours d’eau, perturbant ainsi l’équilibre chimique des végétaux et la biodiversité.
Les espèces ont du mal à se reproduire ou à se nourrir, le nombre de polinisateurs décline… les polluants modifient la physiologie des organismes, l’anatomie et le biotope
Associés à d’autres facteurs (sécheresse, parasites), ils entrainent le dépérissement des forêts et la dégradation des sols.
Effets sur le climat

La pollution atmosphérique augmente le trou dans la couche d’ozone et la concentration de gaz à effet de serre à l’origine du réchauffement de la planète. Ce dernier est responsable de la fonte des glaces et de l’augmentation du niveau de la mer.

      <b>
        https://www.ville-schiltigheim.fr/vie-quotidienne/nature-environnement/pollution-de-lair/les-effets-de-la-pollution/
      </b>
      </div>

      <!-- /.share-body -->
</div>
</div>