<div class="col-12 container-extra">
    <div class="card bg-success">
      <div class="card-header">
        <h3 class="share-title">La pollution</h3>

        <div class="share-tools">
          Définition Générale
        </div>
        <!-- /.share-tools -->
      </div>
      <!-- /.share-header -->
      <div class="share-body p-2 bg-white" style="color:black;text-overflow: ellipsis;white-space: pre-wrap; overflow-wrap: break-word">

          <p>
              Introduction directe ou indirecte, par suite de l'activité humaine, de substances ou de chaleur dans l'air, l'eau ou le sol, susceptibles de porter atteinte à la santé humaine ou à la qualité des écosystèmes aquatiques ou des écosystèmes terrestres, qui entraînent des détériorations aux biens matériels, une détérioration ou une entrave à l'agrément de l'environnement ou à d'autres utilisations légitimes de ce dernier : Directive Européenne 2000/60/CE du 23 octobre 2000.
                <b>
                    https://www.actu-environnement.com/ae/dictionnaire_environnement/definition/pollution.php4
                </b>
          </p>
          <p>

            1. Dégradation de l'environnement par des substances (naturelles, chimiques ou radioactives), des déchets (ménagers ou industriels) ou des nuisances diverses (sonores, lumineuses, thermiques, biologiques, etc.). [Bien qu'elle puisse avoir une origine entièrement naturelle (éruption volcanique, par exemple), elle est principalement liée aux activités humaines.]
            2. Émission involontaire de sperme, le plus souvent pendant le sommeil.

                <b>
                   https://www.larousse.fr/dictionnaires/francais/pollution/62217
                </b>
          </p>
          <p>

           La pollution de l’air

Aussi appelée pollution atmosphérique, la pollution de l’air est surement le type de pollution le plus connu et le plus dévastateur. De base naturels puis fortement multipliés par l’activité humaine depuis le XIXème siècle, les gaz à effet de serre sont les principaux bourreaux de notre planète. Ces gaz, en plus de polluer la Terre, sont également à l’origine du réchauffement climatique que l’on observe dorénavant sur la totalité de la surface du globe.

Les autres polluants atmosphériques comme par exemple les particules fines sont également très néfastes pour la planète. Elles vont détruire la couche d’ozone terrestre ce qui va laisser passer les rayons ultraviolets nocifs à travers l’atmosphère. Tous ces polluants vont petit à petit réduire la qualité de l’air et vont ainsi provoquer la perte de nombreux organismes vivants ainsi que le développement de diverses maladies cardiovasculaires.

Certains pays de l’Union européenne comme la France ont mis en place des normes pour encadrer la qualité de l’air afin de réduire au maximum la pollution atmosphérique.
La pollution du sol terrestre

La pollution des sols est l’une des pollutions dont on parle le moins, car c’est assurément la moins visible par la population mondiale. Cependant, cette pollution peut s’avérer très dangereuse pour la santé. Cette pollution consiste à la contamination des sols par le rejet de produits chimiques directement dans le sol. Une fois rejetés dans le sol, ces produits viennent ensuite contaminer les cultures agroalimentaires (pesticides, engrais) qui sont ensuite ramassées et ingurgitées par l’homme.
Pollution de l’eau

Cette pollution provient de différentes origines. Elle peut provenir de la pollution industrielle (dégazage des bateaux en mers, rejets de produits chimiques), de la pollution par le biais de l’agriculture (utilisation de produits chimiques qui viennent contaminer les nappes phréatiques), de la pollution automobile (rejet d’huile ou carburant dans les cours d’eau) ou du non-traitement des eaux usées.
La pollution des déchets nucléaires et chimiques

Ces déchets peuvent entrainer de graves conséquences sur notre environnement s’ils sont rejetés directement dans l’air ou dans le sol (par un mauvais traitement ou accident). Ils ont la particularité de rester très longtemps « actifs » dans l’environnement et d’être particulièrement mortels pour toute forme d’êtres vivants.
Les autres formes de pollution

Il existe encore de nombreuses formes de pollution comme par exemple la pollution lumineuse, électromagnétique, visuelle, sonore ou encore spatiale. Bien que ces nouvelles formes de pollution (pour la majeure partie créée par l’Homme) soient assez récentes à l’échelle de l’humanité et moins présentes que celles citées précédemment, elles n’en restent pas moins dangereuses et problématiques. À terme, ces nouveaux types de pollution risquent d’être aussi nocifs que les pollutions plus classiques.
              <b>
                   https://www.planeteecologie.com/quels-sont-les-differents-types-de-pollution
              </b>
          </p>
          </br>

      </div>
      <!-- /.share-body -->
</div>
</div>