<div class="col-12 container-extra mb-3">
    <div class="card bg-success">
      <div class="card-header">
        <h3 class="share-title">Pour réduire la pollution</h3>

        <div class="share-tools">

        </div>
        <!-- /.share-tools -->
      </div>
      <!-- /.share-header -->
      <div class="share-body p-2 bg-white" style="color:black;text-overflow: ellipsis;white-space: pre-wrap; overflow-wrap: break-word">


Élements de solutions pour réduire la pollution environnementale
Quels sont les éléments de solution pour réduire la pollution environnementale

La pollution de l'environnement est aujourd'hui une menace sérieuse pour la qualité de vie et de la subsistance. Bien qu'il soit très difficile d'inverser complètement les dégâts, on peut néanmoins réduire l'impact de l'action humaine sur l'environnement.


Réduire l’impact de l’action humaine sur l’environnement est une tâche difficile, mais pas impossible, en voici certains éléments de solution :
La réutilisation

Les stratégies industrielles et marketing ont habitué les citoyens à acheter, jeter; puis à acheter à nouveau, sans calculer l'énorme impact que cela a sur l'environnement. Autant que vous le pouvez, réutiliser ces choses que vous jetteriez normalement.

Si quelque chose a été endommagé, réparez-le. Ne courez pas pour en acheter un autre simplement parce que vous le pouvez! S'il ne peut pas être réparé, ou s'il s'agit d'un produit déjà consommé, donnez une nouvelle possibilité à ses éléments utiles d’être utilisés.

Par exemple, les flacons de mayonnaise peuvent devenir des lampes magnifiques et créatives pour votre jardin, votre véranda ou votre salon.

Voir aussi : causes et conséquences de la pollution atmosphérique
Le recycle

Une façon de réduire la pollution de l'environnement est de participer au processus de recyclage. Comment peut-on le faire? Il suffit de bien classer les déchets de votre maison (déchets organiques, papier / carton, verre, plastique et aluminium) et de les verser dans les conteneurs spéciaux pour cela.

Voir aussi : 11 types de pollution
Réduire la consommation

Réduire la consommation. Oui! Juste comme on l'entend. Si on n'a pas vraiment besoin de quelque chose, pourquoi l'acheter? On n’a pas besoin d'autant de choses que l’on achète. On peut répondre à plusieurs besoins d’une autre manière.

Par exemple, on peut réduire l'achat d'eau en bouteille. Saviez-vous que l'eau en bouteille est l'une des principales sources de pollution plastique? Saviez-vous aussi que dans les pays où l'eau du robinet est potable, l'eau en bouteille a la même origine que chez vous?

Ne gaspillez pas votre argent et aidez à prévenir l'accumulation de plastique dans l'environnement.

Voir aussi : causes et conséquences de la pollution de l'environnement
Semer et soigner

L'air que l’on respire est de plus en plus pollué. Cette pollution n'est pas seulement dû à l'émission de gaz toxiques, mais également à la déflorestation progressive. Commencez par nettoyer l'air de votre maison.

Remplissez votre maison de plantes qui purifient l'environnement, à l'intérieur comme à l'extérieur. Toutefois, lorsque vous le pouvez, participez activement aux campagnes de reboisement.

Aussi, protégez et prenez soin de l'environnement vert qui vous entoure. Ne faites pas de feux de joie dans les montagnes, ne coupez pas de pins dans les forêts et ne vous mettez pas à des pratiques qui détruisent ou altèrent la végétation.

Voir aussi : 11 types de pollution
Éliminer l'utilisation de pesticides et de sprays

Lorsque vous plantez votre jardin ou que vous prenez soin de vos plantes, n'utilisez pas de pesticides. Évitez également toutes sortes d'aérosols, ou au moins assurez-vous qu'ils sont sans danger pour l'environnement.
Ne versez pas de l'huile dans les tuyaux

Un seul litre d'huile de cuisson peut contaminer jusqu'à 40 000 litres d'eau, sans parler des dommages qu'il cause aux tuyaux. Ne déversez pas de l'huile dans les tuyaux, que ce soit dans l'évier ou dans les toilettes.

Des alternatives? Vous pouvez faire différentes choses. Par exemple, lorsque l'huile usagée est froide, versez-la dans un vieux réservoir d'huile ou d'eau non utilisé et fermez bien. Ensuite, mettez-les dans les conteneurs «déchets non recyclables» ou apportez-les dans un centre de recyclage d'huile.

Ils peuvent également verser l'huile usagée sur plusieurs feuilles de papier journal froissé pour en absorber le plus possible.
Éviter de faire du bruit

La pollution sonore est également un sérieux problème environnemental. Autant qu’on le peut, évitez d'ajouter plus de décibels à la ville déjà bruyante.

Par exemple, lorsque vous écoutez de la musique sur votre téléphone, portez des écouteurs et ne dérangez pas les autres. À la maison, ne dépassez pas le volume recommandé de l'équipement audio.

Investir dans les énergies renouvelables

Si cela est possible, investissez dans les énergies renouvelables. Achetez des panneaux solaires pour compléter le système énergétique de votre maison. À long terme, vous économiserez également beaucoup d'argent.
Opter pour des produits réutilisables

On sait que l’on veut, on a besoin d'une vie plus confortable, mais les produits jetables durables sont l'une des causes les plus graves de l'accumulation de déchets non biodégradables.

Par exemple, les couches représentent 50% des déchets accumulés dans le monde et de nombreuses personnes les jettent à l'eau, ce qui aggrave le problème.

Pour les couches, essayez d'utiliser celles fabriquées avec des matériaux biodégradables. Ils peuvent également opter pour des couches écologiques réutilisables. Il existe de plus en plus d'options sur le marché dont vous pouvez profiter.

Cette même exemple peut être appliqué à d'autres produits. Avant d'acheter quelque chose, posez-vous la question pour savoir si vous en avez vraiment besoin, de quel matériau il est fait et comment vous pouvez moins impacter l'environnement en l'utilisant.
      <b>
      https://www.definitions360.com/9-solutions-pour-reduire-la-pollution-de-l-environnement/
      </b>
      </div>

      <!-- /.share-body -->
</div>
</div>