{% load static %}


<div class="container-fluid pt-5">
    <div class="row " id="ecrire-recyle">
        <input onclick="url('q', 'recycle/new/', 'Ecrire une idée de recyclage', '')" type="button" class="col-1 ml-3 mb-3 btn btn-primary btn-block" value="Ecrire">
    </div>
    <p id="q">
    </p>
    <div class="row ">

            {% for content in recycle %}
                <div class="col-md-3">
                <div class="card bg-success cursor-pointer" onclick="url('q', 'recycle/view/?id={{ content.id }}', '{{ content.title }}')">
                  <div class="card-header">
                    <h3 class="share-title">{{ content.title }}</h3>

                    <div class="share-tools">
                      {{ content.email }} - {{ content.date}}
                    </div>
                    <!-- /.share-tools -->
                  </div>
                  <!-- /.share-header -->
                  <div class="share-body p-1 bg-white" style="color:black;text-overflow: ellipsis;overflow: hidden;height: 200px">
                    {{ content.content }}
                  </div>
                  <!-- /.share-body -->
                </div>
                </div>
            {% endfor %}
            <!-- /.share -->

    </div>
</div>

<script type="text/javascript" src="{% static 'js/main.js' %}">
</script>