<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title id="page-title">
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body
        style="background-image: url({% static 'images/bg/tree.jpg' %})"
>
    <header>
        <div class="container-fluid">
            <div class="row p-2 bg-dark  d-block d-sm-none">
                <div class="col-8">
                    <img src="{% static 'images/illustrations/extra.png' %}" style="width: 15%;" alt="dropdown" id="dropdown">
                </div>
            </div>
            <div class="row d-none d-sm-flex" style="height: 52px">
                <div onclick="homepage()" class="col-2" style="background-color: rgba(20, 20, 20, 0.5);text-align:center;cursor: pointer;">
                    <img src="{% static 'images/illustrations/logo.png' %}" class="mt-2" style="width: 15%;" alt="dropdown" id="dropdown">
                </div>
                <div class="col-2 dropdown-list" onclick="url('content', 'data/', 'Data', '')">
                    <img src="{% static 'images/illustrations/data.png' %}" class="ico-tab" alt="dropdown" id="dropdown">
                    Data
                </div>
                <div id="recyclage" class="col-2 dropdown-list" onclick="url('content', 'recyclage/', 'Recyclage', '')">
                    <img src="{% static 'images/illustrations/recyclage.png' %}" class="ico-tab" alt="dropdown" id="dropdown">
                    Recyclage
                </div>
                <div class="col-2 dropdown-list" onclick="url('content', 'bin/', 'Bin', '')">
                    <img src="{% static 'images/illustrations/bin.png' %}" class="ico-tab" alt="dropdown" id="dropdown">
                    Bin
                </div>
                <div class="col-2 dropdown-list" onclick="url('content', 'extra/', 'Extra', '')">
                    <img src="{% static 'images/illustrations/dropdown.png' %}" class="ico-tab" alt="dropdown" id="dropdown">
                    Extra
                </div>

                <div class="col-2 pt-2" style="background-color: rgba(20, 100, 20, 0.5);text-align: center;">
                    <input type="text" class="rounded" style="width: 80%;background: rgba(200, 200, 200, 0.3);border: 1px solid black">
                    <img src="{% static 'images/illustrations/search.png' %}" class="ico-tab mt-1" alt="dropdown" id="dropdown" style="cursor: pointer;">

                </div>
            </div>
        </div>
    </header>

    <input type="hidden" id="base">

    <section id="content">
        {% block content %}
            <div class="container-fluid" >

                <div class="row mt-3 justify-content-center" id="msg">
                    <p style="color: red">
                        {{ error_msg }}
                    </p>
                    <p style="color: green">
                        {{ success_msg }}
                    <p>
                </div>

                <div class="row justify-content-center" id="msg" style="margin-top: 10%">
                    <div class="col-2 mt-3">
                        <img src="{% static 'images/bg/earth.gif' %}" class="mt-1 rounded-circle" alt="dropdown" id="dropdown"
                             style="width: 300px;height: 300px">
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-6 mt-5" id="citation">
                        <h3 class="mt-5" style='font-family: KacstFarsi,serif;'>
                            Je pense sincèrement que la pollution de la planète ce n'est pas aussi
                            grave qu'on le dit... C'est beaucoup plus grave qu'on le dit.<br><br>
                            <b>
                                <i>
                                    Phillipe Geluck
                                </i>
                            </b>
                        </h3>
                    </div>

                </div>

                {% if session is not None %}
                    <div class="row mt-3 justify-content-center" id="form-login">
                        <h2 id='login' onclick="url('form-login', 'user/logout', '', '')">
                           <input style="font-size: 20px; color:white;" class="btn col-12 bg-danger" type="button" value="Se Deconnecter" id='logout' onclick="url('form-login', 'user/login', 'Identification', '')">
                       </h2>
                    </div>
                {% else %}
                    <div class="row mt-5 justify-content-center" id="form-login">
                        <input style="font-size: 20px; color:white;background-color: rgba(20, 20, 200, 0.7)" class="btn col-2" type="button" value="S'identifier" id='login' onclick="url('form-login', 'user/login', 'Identification', '')">
                    </div>
                {% endif %}


            </div>
        {% endblock %}
    </section>


    <footer>
    </footer>
    <script type="text/javascript" src="{% static 'js/main.js' %}">
    </script>

</body>
</html>