{% load static %}

<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <h1 class="cursor-pointer" onclick="url('content-email-manager', 'module/email/', 'Suppression de Mail')">
            gestion de suppression email
        </h1>
    </div>
    <div class="row justify-content-center" id="content-email-manager">

    </div>

    <div class="row justify-content-center mt-5">
        <h1 class="cursor-pointer" onclick="url('content-data-compressor', 'module/compresor/', 'Compresseur de données')">
            Compresseur de données
        </h1>
    </div>
    <div class="row justify-content-center" id="content-data-compresor">

    </div>
</div>

<script type="text/javascript" src="{% static 'js/main.js' %}">
</script>
