{% load static %}

<div class="container-fluid">

    <div class="row mt-3">
        <div class="col-1 cursor-pointer scale-up" style="text-align: center" onclick="url('content-rec', 'recycle/share/', 'Apprendre sur le recyclage')">
            <img src="{% static 'images/illustrations/learning.png' %}" class="middle-image" alt="learn recycle">
        </div>
        <div class="col-1 cursor-pointer scale-up" onclick="url('content-rec', 'recycle/question/', 'Questions sur le recyclage')">
            <img src="{% static 'images/illustrations/communication.png' %}" class="middle-image" alt="questions recycle" id="dropdown">
        </div>
    </div>

    <div class="row justify-content-center" id="content-rec">

    </div>
</div>

<script type="text/javascript" src="{% static 'js/main.js' %}">
</script>
