body{
    background-color: #1a252f;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:white;
}
@keyframes scaleUp {
    0%{
        size: -15px;
    }
    100%{
        size: 100px;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeout {
    100%{
        opacity: 0;
    }
    0%{
        opacity: 1;
    }
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(360deg);
    }

    40%{
        transform: rotate(360deg);
    }

    100%{
        transform: rotate(360deg);
    }

}

@keyframes slideRight {
    0%{
        margin-left: -100px;
    }
    100%{
        margin-left: 0;
    }
}
@keyframes slideDown {
    0%{
        margin-top: -100px;
    }
    100%{
        margin-left: 0;
    }
}

.dropdown-list{
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(20, 100, 20, 0.5);
    padding-top: 1%;
    font-weight: bold;
    transition-property: font-size;
    transition-duration: 1s;
    cursor: pointer;
}

.dropdown-list:hover{
    background-color: #1a252f;
    font-size: 30px;
}
#recyclage:hover{
    background-color: #1a252f;
    font-size: 20px;
}

.scale-up{
    transition-property: font-size;
    transition-duration: 1s;
}
.scale-up:hover{
    background-color: #1a252f;
    font-size: 30px;
}
.ico-tab{
    height:20px;
    width: 15%;
    margin-left: 5px;
    margin-top: -2%;
}
.img-small{
    width:15px;
    height: 15px;
}
.cursor-pointer{
    cursor: pointer;
}
.middle-image{
    width: 30px;
    height: 30px;
}
#citation{
    animation-name: spin;
    animation-duration: 2s;
}
#content-email{
    animation-name: slideRight;
    animation-duration: 2s;
}